body {
  margin: 0;
}

input {
  display: flex;
}

button {
  margin-top: 7px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
}

button:hover {
  border: 2px solid green;
}

label {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.overlayActive {
  position: absolute;
  background-color: rgba(255, 234, 0, 0);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  top: 0px;
  text-align: center;
  transition: all 1s;
}

.overlayPause {
  visibility: hidden;
}